html {overflow-x: hidden;}
body {margin: 0;padding: 0;font-family: 'Montserrat', sans-serif; overflow: hidden; background: #fff;font-size: 18px;line-height: normal;color: #504E4E;overflow-x: hidden;}
ul, ol, p, form, input, textarea, select, pre, em, sub, sup, canvas, section, article, aside, img, a, li, iframe, table, nav, header, footer, body, menu, button {margin: 0;padding: 0;vertical-align: baseline;box-sizing: border-box;-webkit-box-sizing: border-box;list-style: none;text-decoration: none;outline: none;border: 0;border-spacing: 0;border-collapse: collapse;}
*, after, before {box-sizing: border-box;-webkit-box-sizing: border-box;}
h1, h2, h3, h4, h5, h6 {margin: 0;padding: 0;font-weight: normal;}
body {line-height: 1;}
select{background-image: none !important;}
a {color: var(--black-color);text-decoration: none;transition: all 0.2s ease-in-out 0s;-webkit-transition: all 0.2s ease-in-out 0s;}
a:hover {text-decoration: none;color: var(--blue-color);}
p {line-height: 1.6;font-size: 18px;color: var(--black-color);font-family: 'Montserrat', sans-serif;}
b, strong {font-weight: 600;}
u {text-decoration: underline;}
i, em {font-style: italic;}
img {max-width: 100%;}
input[type="button"], input[type="submit"], input[type="reset"], input[type="text"] {appearance: none;-webkit-appearance: none;-webkit-appearance: none;}
input[type="button"], input[type="submit"], input[type="reset"] {cursor: pointer;font-size: 14px;}
.clearfix {clear: both;}
::-moz-selection {color: #fff;background: var(--blue-color);}
::selection {color: #fff;background: var(--blue-color);}
:root {--black-color: #000;--white-color: #fff;--blue-color: #2895FC;}

@media screen and (min-width:1740px) {
    .container {
        max-width: 1680px !important;
    }
}


header {padding: 20px 0;border-bottom: 1px solid #DBDBDB; position: relative; z-index: 3;}
.header-menu {display: flex;align-items: center;justify-content: end;}
.notification-icon ul {display: flex;align-items: center;justify-content: start;}
.notification-icon ul li a {width: 58px;height: 58px;background: #E03514; border: 1px solid transparent; border-radius: 50%;display: flex;align-items: center;justify-content: center; transition: 0.4s; -webkit-transition: 0.4s;}
.notification-icon ul li a img{transition: 0.4s; -wenbkit-transition: 0.4s;}
.notification-icon ul li a:hover img{transform: rotate(360deg);}
.notification-icon ul li + li{margin-left: 15px;}
.user-field {margin: 0 30px;display: flex;align-items: center;justify-content: center;}
.user-field span {display: inline-block;margin-right: 10px;}
.user-field h4 {color: #121212;font-size: 24px;font-weight: 500;line-height: 1.4;margin: 0;}
.logout-field .btn {padding: 10px 15px;min-width: 155px;font-size: 23px;}
.col.logo a img {max-width: 180px;}


.mobile-header-menu-wrapper {position: fixed;top: 0;right: -100%;bottom: 0;width: 350px;z-index: 99;padding: 80px 15px;background: #fff url(../images/circle-two.png) no-repeat top;background-size: cover;box-shadow: 10px 10px 20px 12px rgb(0 0 0 / 27%); visibility: hidden; opacity: 0; transition: 0.4s; -webkit-transition: 0.4s;}
.mobile-header-menu-wrapper a.close-icon {position: absolute;top: 20px;right: 20px;width: 30px;height: 30px;border: 1px solid #000;border-radius: 50%;display: flex;align-items: center;justify-content: center;font-size: 14px;}
.mobile-header-menu-wrapper ul li {display: block;}
.mobile-header-menu-wrapper ul li + li{margin-top: 20px;}
.mobile-header-menu-wrapper ul li a {display: flex;align-items: center;justify-content: start;}
.mobile-header-menu-wrapper ul li a span {display: inline-block;margin-right: 15px;}
.mobile-header-menu-wrapper ul li .btn {text-align: center;width: 100%;display: block;font-size: 14px;padding: 10px;border-radius: 7px;}
.mobile-header-menu-wrapper.active {right: 0;visibility: visible;opacity: 1;}
.black-layer {position: fixed;left: 0;top: 0;bottom: 0;right: 0;background: rgb(0 0 0 / 34%);width: 100%;height: 100%;z-index: 99;visibility: hidden;opacity: 0;}
.black-layer.active{visibility: visible; opacity: 1;}
.banner-section{padding: 50px 0; position: relative;}
.banner-section .container > img{width: 100%; user-select: none; pointer-events: none; position: relative; z-index: 1;}
.banner-content h2 {color: #2C2C2C;font-size: 28px;font-weight: 400;line-height: 1.4;margin: 0;}
.wallet-parent {display: flex;margin: 20px 0 0;align-items: center;justify-content: start;color: #000000;font-size: 34px;font-weight: 400;}
.wallet-parent img{margin-right: 10px; max-width: 40px;}
.refresh-btn a {color: #E03514;font-size: 24px;font-weight: 500;line-height: 1.4;margin: 0;display: flex;align-items: center;justify-content: start;margin: 20px 0 0; transition: 0.4s; -webkit-transition: 0.4s;}
.refresh-btn a img{transition: 0.4s; -webkit-transition: 0.4s; margin-left: 15px;}
.refresh-btn a:hover img{transform: rotate(360deg);}
.refresh-btn {display: inline-block;}
.banner-section .container{position: relative;}
.banner-content-parent {position: absolute;top: 56px;left: 50px;right: 50px;z-index: 1;}
.banner-right-img {text-align: right;}
.banner-right-img img {max-width: 350px;position: relative;top: -45px;}
.banner-section:before {content: "";position: absolute;background: url(../images/circle-one.png) no-repeat;left: -13%;top: 0%;width: 1086px;height: 1086px;}
.banner-section:after,
.notification-section:after{content: "";position: absolute;background: url(../images/circle-two.png) no-repeat;right: -15%;top: -15%;width: 1086px;height: 1086px;}


.banner-bottom-box ul {display: flex;align-items: center;justify-content: start;}
.banner-bottom-box ul li{text-align: center;}
.banner-bottom-box ul li + li{margin-left: 20px;}
.banner-bottom-box ul li {text-align: center;padding: 40px 128px;border-radius: 20px; background: url(../images/upload-boxone.png) no-repeat center; background-size: cover;}
.banner-bottom-box ul li:last-child{background: url(../images/upload-boxtwo.png) no-repeat center; background-size: cover;}
.banner-bottom-box {margin: 50px 0 0;}
.banner-bottom-box ul li h3 {margin: 30px 0;color: #000000;font-size: 26px;font-weight: 500;line-height: 1.4;}
.banner-bottom-box ul li .btn {padding: 10px 0;font-size: 22px;min-width: 200px; margin: 0 auto;}

.table-responsive table {width: 100%; border: none;}
.table-responsive table tr th {background: #F6F0FF;padding: 18px 5px !important;color: #4B2E74;font-size: 16px;font-weight: 500 !important;border-left: 1px solid #4B2E74;position: relative;z-index: 1;}
.table-responsive table tr th span a {display: block;padding: 2px 0;vertical-align: middle;line-height: 0;}
.table-responsive table tr th:first-child{border-left: none;}
.table-responsive table tr th span {position: absolute;right: 15px;top: 50%;transform: translateY(-50%);}
.table-responsive table tr td:last-child {width: 170px;min-width: 170px;}
.table-responsive table tr td:last-child .btn {font-size: 16px;padding: 8px;border-radius: 9px;}
.table-responsive table tr td {padding: 15px 6px !important;color: #000;font-size: 16px;font-weight: 400; border-bottom: none; vertical-align: middle;}
tr.expandview > td {padding: 0px !important;}
tr.expandview1 > td {padding: 0px !important;}
.table-responsive table tr {border-bottom: 1px solid #E5E5E5;}
.table-responsive table tr:first-child{border-bottom: none;}
.table-responsive {padding: 0;border: 1px solid #E5E5E5;border-radius: 10px; background: #fff;}
.table-responsive table tr th:last-child{text-align: center;}
.transition-history-wrapper {position: relative;z-index: 1;}
.transition-history-wrapper h2 {color: #000000;font-size: 30px;margin: 0 0 20px;font-weight: 500;line-height: 1.4;}
section.same-section.table-history {padding: 40px 0;}
table.dataTable tbody th, table.dataTable tbody td{vertical-align: middle;}
section.banner-section.password-section{height: inherit !important;}
.table-responsive table + .dataTables_info {font-size: 16px;color: #000;font-weight: 400;padding-left: 10px;}
.dataTables_wrapper .dataTables_paginate .paginate_button {color: #000 !important;font-size: 16px; border: 1px solid #ccc !important;}
.dataTables_wrapper .dataTables_paginate .paginate_button.paginate_button:hover{background: #4b2e6f !important;color: #fff !important;border-color: transparent !important;}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous.disabled:hover{color: #fff !important;}
.dataTables_wrapper .dataTables_paginate span {display: inline-block;}
.dataTables_wrapper .dataTables_paginate span .paginate_button {border: 1px solid #4b2d6d;color: #4b2d6d;background: transparent;}
.dataTables_wrapper .dataTables_paginate span a.paginate_button.current {background: #4b2e6f;color: #fff !important;border-color: transparent !important;}
.dataTables_wrapper .dataTables_paginate span a.paginate_button:hover{background: #4b2e6f;color: #fff !important;border-color: transparent !important;}
.dataTables_wrapper .dataTables_paginate{padding: 15px 10px 15px 0!important;}
.dataTables_wrapper .dataTables_info {padding: 24px 0 0 10px!important;}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{background: #4b2e6f !important;color: #fff !important;border-color: transparent !important;}
.table-striped>tbody>tr{--bs-table-accent-bg: #fff !important;color: #000 !important;}


.login-page .container-fluid{padding: 0 100px;}
.same-section{padding: 100px 0;}
.login-content-parent a {margin: 0 0 50px;display: inline-block;max-width: 180px;}
.login-content-wrapper {border: 1px solid #CECECE;padding: 60px 70px;border-radius: 52px; height: 100%;}
.login-content-parent h2 {font-size: 40px;color: #000000;font-weight: 600;line-height: 1.2;margin: 0 0 20px;}
.login-content-parent p{color: #797979; font-size: 21px; font-weight: 400; line-height: 1.6; margin: 0;}
.login-from-parent {margin: 30px 0 0;}
.login-from-parent label {display: block;color: #2C2C2C;font-size: 21px;font-weight: 500;margin: 0 0 10px;}
.login-contact {display: flex;align-items: center;justify-content: start;}
.login-contact .country-box {color: #333333;font-size: 22px;font-weight: 400;margin: 0;display: flex;align-items: center;justify-content: start; width: 100%; max-width: 80px;}
.login-contact .country-box span{color: #333333;font-size: 22px;font-weight: 400;margin: 0; display: inline-block; padding-left: 5px; padding-top: 4px;}
.login-contact {display: flex;align-items: center;justify-content: start;border: 1px solid #E2E2E2;border-radius: 13px;padding: 10px;}
.input-box-parent {padding-left: 20px;position: relative; width: 100%;}
.input-box-parent:after {content: "";position: absolute;left: 10px;top: 50%;transform: translateY(-50%);width: 1px;background: #939393;height: 16px;}
.input-box-parent input {color: #939393;font-size: 22px;font-weight: 400;width: 100%; box-shadow: none; border: none;}
.login-btn {margin: 60px 0 0;}
.btn-primaryx{border: 1px solid transparent;border-radius: 15px;padding: 10px 15px;text-align: center;font-size: 26px;font-weight: 500;color: #fff;background: transparent linear-gradient(180deg, #4B2E74 0%, #4C2D5E 100%) 0% 0% no-repeat padding-box;display: block;transition: 0.4s; -webkit-transition: 0.4s;}
.btn-primaryx:focus{box-shadow: none; outline: none;}
.btn-primaryx:hover{background: transparent; color: #4B2E74; border-color: #4B2E74;}
.btn-secondary{border: 1px solid #D3D3D3;border-radius: 15px;padding: 10px 15px;text-align: center;font-size: 26px;font-weight: 500;color: #fff;background: transparent;display: block;transition: 0.4s; -webkit-transition: 0.4s;}
section.same-section.login-page .row .col-lg-6 {padding: 0;}
.login-btn .btn{width: 100%;}

.otp-page h2{display: flex; align-items: center; justify-content: start;}
.otp-page h2 a {display: flex;margin-right: 20px !important;vertical-align: middle; margin: 0;}
.otp-page h2 a img{vertical-align: middle;}

.login-otp-boc input {border: 1px solid #E2E2E2;border-radius: 13px;width: 70px;height: 70px;text-align: center;padding: 10px; color: #939393;font-size: 22px;font-weight: 400; box-shadow: none;}
.login-otp-boc input + input{margin-left: 5px;}
.resend-box {display: flex;align-items: center;justify-content: space-between;margin: 10px 0 0;}
.login-otp-wrapper {display: inline-block;}


[type="date"] {background:#fff url(../images/calander-icon.png)  97% 50% no-repeat  !important;}
[type="date"]::-webkit-inner-spin-button {display: none;}
[type="date"]::-webkit-calendar-picker-indicator {opacity: 0;}

label {display: block;}
input {border: 1px solid #c4c4c4;border-radius: 5px;background-color: #fff;padding: 3px 5px;box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);width: 190px;}
.modal-dialog {max-width: 710px;}
.upload-modal .modal-header {background: #ECE0FF;border-radius: 38px 38px 0 0;padding: 10px;width: 100%;display: flex;align-items: center;justify-content: start;color: #000000;font-weight: bold;line-height: 1.4; padding: 15px 10px; border-bottom: none;}
.upload-modal .modal-header img{margin-right: 15px;}
.modal-content {border-radius: 38px;background: #FCFAFF;}
.upload-modal .modal-header button.btn-close {position: absolute;right: 20px;width: 20px;height: 20px;border: 1px solid #000;border-radius: 50%;padding: 1px;margin: 0;font-size: 11px;top: 20px;}
.modal-body {padding: 20px;}
.single-modal-content .form-group label {display: block;color: #000;font-size: 18px;font-weight: 500;margin: 0 0 10px;line-height: 1.4;}
.single-modal-content .form-group .form-control {border: 1px solid #E2E2E2;border-radius: 13px;background: #fff;position: relative;height: 44px;color: #000;font-size: 19px;font-weight: 500;}
.custom-select-box {position: relative;}
.custom-select-box select{padding: 10px 10px; width: 100%; webkit-appearance: none; appearance: none;}
.custom-select-box span {position: absolute;display: inline-block;top: 50%;transform: translateY(-50%);right: 15px;cursor: pointer;pointer-events: none;}
.single-modal-content .form-group {margin: 0 0 20px;}
.custom-input-box {display: flex;align-items: center;justify-content: start;}
.custom-input-box input[type="text"] {width: 100%;background: transparent;border: none;box-shadow: none;}
.custom-input-box.form-control {padding-left: 40px;}
.custom-input-box.form-control img {position: absolute;left: 10px;top: 50%;transform: translateY(-50%);}
.form-control:focus{box-shadow: none; outline: none; border: none;}
.custom-date-box{position: relative;}
.custom-date-box input {box-shadow: none; background: inherit;}
.custom-date-box textarea.form-control {height: 130px !important;}

.modal-footer {border: none;padding-top: 0;}
.modal-footer .btn-secondary {color: #000;font-size: 18px;font-weight: 500;border-radius: 10px;padding: 9px 20px;border-color: #000;}
.modal-footer .btn-secondary:hover{background:#000; color: #fff; border-color: transparent;}
.modal-footer .btn-secondary:focus{box-shadow: none; outline: none; border: none;}
.modal-footer .btn-primaryx {color: #fff;font-size: 18px;font-weight: 500;border-radius: 10px;padding: 9px 20px;border-color: transparent;}
.modal-footer .btn-primaryx:hover{background: transparent; border-color: #4B2E74; color: #4B2E74;}

.file-upload-box input[type="file"] {width: 100%;height: 100px;border: 1px solid #E2E2E2;border-radius: 10px;box-shadow: none;padding: 15px;}
.file-border{border: 1px solid #ccc;width: 100%;padding: 0 5px;height: 34px;text-overflow: clip;opacity: 0;}
.upload-btn{display: block;width: calc(100% - 30px);height: 34px;border: 1px solid #ccc;position: absolute;top: 0;z-index: -1;padding-left: 78px;line-height: 34px; overflow: hidden; text-overflow: ellipsis; word-break: keep-all;}
.upload-btn::before{position: absolute;content: "Browse";background: #009140;color: #fff;height: 34px;width: 75px;line-height: 24px;padding: 5px;text-transform: uppercase;top: -1px;left: 0;}
.file-upload-box h5 {color: #000;font-size: 19px;font-weight: 500;line-height: 1.4;margin: 0 0 5px;}
.file-upload-btn {position: relative;}
.imageWrapper {width: 100%;overflow: hidden;position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.imageWrapper img {height: auto;width: auto;max-height: 100%;max-width: initial;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);z-index: 1;background: #fff;}
 .file-upload {position: relative;overflow: hidden;margin: 10px;}
.file-upload {position: relative;overflow: hidden;max-width: 100%;text-align: center;color: #fff;background: transparent;border: 1px solid #E2E2E2;padding: 0.85em 1em;display: inline;-ms-transition: all 0.2s ease;-webkit-transition: all 0.2s ease;transition: all 0.2s ease;width: 100%;height: 97px;background: #fff;margin: 0;border-radius: 13px;}
 .file-upload input.file-input {position: absolute;top: 0;right: 0;margin: 0;padding: 0;font-size: 20px;cursor: pointer;opacity: 0;filter: alpha(opacity=0);height: 100%;}


section.notification-section {padding: 60px 0; position: relative;}
.heading-parent{margin: 0 0 50px; border-bottom: 1px solid #DBDBDB; padding: 0 0 20px;}
.heading-parent h2 {display: flex;align-items: center;justify-content: start;color: #000000;font-size: 38px;font-weight: 500;line-height: 1.4;}
.heading-parent h2 a {display: flex;align-items: center;justify-content: start;margin-right: 15px;}
.message-parent{position: relative;}
.message-parent figure {margin: 0;width: 66px;height: 66px;background: #F7F7F7;border-radius: 50%;display: flex;align-items: center;justify-content: center; position: absolute; top: 0; left: 0;}
.message-content-parent p {color: #6A6A6A;font-size: 20px;font-weight: 400;line-height: 1.6;margin: 0;}
.message-content-parent {padding-left: 90px; border-bottom: 1px solid #DBDBDB; padding-bottom: 25px;}
.message-parent + .message-parent{margin-top: 50px;}
.message-content-parent .msg-timing span {color: #6A6A6A;font-size: 20px;font-weight: 500;line-height: 1.4;margin: 15px 0 0;display: inline-block;margin-right: 20px;}
.banner-section:after, .notification-section:after {width: 1016px;height: 845px;background-size: 845px; z-index: -1;}
.message-box-wrapper {position: relative;z-index: 9;}


.login-content-parent {margin: 0 0 60px;}

.same-section.table-history.pending-table table tr th, .same-section.table-history.pending-table table tr td {text-align: center;}
.same-section.table-history.pending-table tr td:last-child {width: 80px !important;min-width: 80px !important;}
.same-section.table-history.pending-table tr td:last-child a,
.table-responsive table tr td:last-child a {display: inline-block;min-width: initial; margin: 2px 5px;}
.table-responsive table tr td:last-child{text-align: center;}

.btn.btn-primaryx.default {background: transparent;border-color: #DADCE0;color: #888888;}
.btn.btn-primaryx.default:hover{background: #888888; border-color: transparent; color: #fff;}
.user-field li{position: relative;}
.user-field li a{ padding: 10px 0;}
.user-field li span.dropdown-parent {position: absolute;margin: 0;width: 140px;bottom: -30px;left: 0;right: 0;background: #FCFCFC;box-shadow: 0 0 10px #00000021;border-radius: 10px; opacity: 0; visibility: hidden;}
.user-field li:hover span.dropdown-parent{visibility: visible; opacity: 1;}
span.dropdown-parent a {display: block;font-size: 18px;text-align: center;}
.user-field li a {display: flex;align-items: center;justify-content: center;}


#logout .modal-dialog.modal-dialog-centered {max-width: 330px;}
#logout .modal-content {border-radius: 23px; position: relative; overflow: hidden;}
#logout .modal-header {background: #ECE0FF;justify-content: center;padding: 10px 10px 10px;}
#logout .modal-content .btn-close {width: 15px;height: 15px;border: 1px solid #000;border-radius: 50%;padding: 3px;position: absolute;top: 15px;right: 20px;font-size: 10px;}
#logout .modal-header h5 {text-align: center;display: block;color: #000000;font-weight: bold;font-size: 22px;margin: 0;line-height: 1.4;}
#logout .modal-body{padding: 10px;}
#logout .modal-body p {color: #B4B4B4;font-size: 18px;font-weight: 500;text-align: center;margin: 0;line-height: 1.6;}
.logout-btn {display: flex;align-items: center;justify-content: center;width: 100%;margin: 20px 0 10px;}
.logout-btn .btn {min-width: 120px;padding: 8px 10px;font-size: 16px;}
.logout-btn .btn + .btn{margin-left: 10px;}

ul.mobile-dropdown-menu {padding-left: 40px !important;padding: 15px 10px;}

.user-password-wrapper > h2 {color: #000000;font-size: 30px;font-weight: 500;line-height: 1.4;margin: 0 0 20px;padding: 0 0 10px;border-bottom: 1px solid #D5D5D5;display: block;}
.user-password-wrapper .input-box-parent:after{display: none;}
.user-password-wrapper .input-box-parent {padding: 0;}
.user-password-wrapper .login-from-parent {background: transparent;padding: 20px 0;border-radius: 35px;height: 100%; margin: 0;}
.user-password-wrapper .login-from-parent label {margin: 0 0 15px;display: block;font-size: 23px;}
.from-group .form-control {border: 1px solid #191919;border-radius: 13px;background: #fff;padding: 15px;color: #000;font-size: 18px;font-weight: 400;}
.password-section{height: 100vh;}
.from-group{margin: 0 0 40px; position: relative;}
.user-password-wrapper .login-btn .btn {min-width: 200px;display: inline-block;}
.banner-section.submitter-section .banner-bottom-box {margin: 0;}
.custom-option-field{position: relative;}
.custom-option-field span {position: absolute;top: 50%;transform: translateY(-50%);right: 15px;user-select: none;appearance: none;-moz-appearance: none;-webkit-appearance: none;appearance: none;cursor: pointer; pointer-events: none;}

.login-otp-boc label.error {display: none;}
.login-otp-boc {display: flex;align-items: center;justify-content: start;}
.login-otp-boc input{margin-right: 15px;}
.login-otp-boc input:last-child{margin-right: 0 !important;}
.login-otp-boc .required.error {border-color: red; margin-right: 15px;}
.login-otp-boc .required.error:last-child{margin-right: 0 !important;}
.login-otp-boc label.error{display: none !important;}
.login-contact .input-box-parent label.error {color: red;font-size: 16px;position: absolute;bottom: -45px;left: -90px;}
.login-content-wrapper form#loginform {position: relative;}
.login-content-wrapper form#loginform .alert.alert-danger {font-size: 14px;padding: 8px;position: absolute;bottom: 32%;left: 0;right: 0;}

.user-password-wrapper .input-box-parent label.error {color: red;font-size: 17px;margin: 7px 0 0;}
.download-submitter-btn {display: flex;align-items: center;justify-content: space-between;}
.download-submitter-btn .btn {font-size: 15px;}


/*==============================================================================*/

.login-from-parent .form-group{margin: 0 0 30px;}
.login-from-parent .form-group .input-box-parent:after{display: none;}
.login-from-parent .form-group .input-box-parent{padding-left: 0;}
.forgot-password-btn {text-align: right;margin: 10px 0 0;}
.login-from-parent .form-group .login-contact .input-box-parent label.error {left: 0;bottom: -40px;font-size: 14px;}
.register-page-parent {margin: 30px 0 0;text-align: center;}
.register-page-parent p{color: #000; font-size: 16px; font-weight: 400; line-height: 1.6; margin: 0;}
.register-page-parent p a{display: inline-block; font-weight: 600; color: #4c2d5e;}
.table-striped>tbody>tr table tr:last-child {border-bottom: none !important;}
.small-box {position: relative;display: block;margin-bottom: 20px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);padding: 20px 20px 20px 20px;border-radius: 20px;}
section.tiles-section-wrapper .small-box.bg-orange {background: #e43d4ecf !important;}
section.tiles-section-wrapper .small-box.bg-green {background: #4b2e71d9 !important;}
section.tiles-section-wrapper .small-box.bg-blue {background: #c46bfbc2 !important;}
.small-box>.small-box-footer {position: absolute;text-align: center;color: #fff;color: rgba(255, 255, 255, 0.8);display: block;z-index: 10;background: rgba(0, 0, 0, 0.1);text-decoration: none;bottom: 0;left: 0;right: 0;padding: 3px 0;}
.small-box .icon {-webkit-transition: all .3s linear;-o-transition: all .3s linear;transition: all .3s linear;position: absolute;top: 10px;right: 10px;z-index: 0;font-size: 90px;color: rgba(0, 0, 0, 0.15);}
.small-box h3 {font-size: 38px;font-weight: bold;color: #fff;margin: 0 0 5px 0;white-space: nowrap;padding: 0;}
.small-box p {color: #fff;font-size: 16px;}
section.tiles-section-wrapper {padding: 40px 0 0;}

.modal-dialog.modal-dialog-centered.excel_trnas_list_model table{width: 100% !important;}
.modal-dialog.modal-dialog-centered.excel_trnas_list_model .modal-body {padding: 0px 0;}
.modal-dialog.modal-dialog-centered.excel_trnas_list_model table tr.odd {background: #eee;}
.modal-dialog.modal-dialog-centered.excel_trnas_list_model {max-width: 1500px;}
.modal-dialog.modal-dialog-centered.excel_trnas_list_model table th {color: #000;font-weight: 600;font-size: 16px; padding: 15px;}
.modal-dialog.modal-dialog-centered.excel_trnas_list_model td {font-size: 16px;font-weight: 400;color: #000;padding: 15px;}


/*=====================================30 jan 2024=========================================*/

.sidebar {position: fixed;top: 0;left: 0;height: 100%;width: 260px;background: #4b2e6f; z-index: 100;transition: all 0.5s ease;}
.sidebar.close {width: 78px;}
.sidebar .logo-details {height: 60px;width: 100%;display: flex;align-items: center;}
.sidebar .logo-details i {font-size: 30px;color: #fff;height: 50px;min-width: 78px;text-align: center;line-height: 50px;}
.sidebar .logo-details .logo_name {font-size: 22px;color: #fff;font-weight: 600;transition: 0.3s ease;transition-delay: 0.1s;}
.sidebar.close .logo-details .logo_name {transition-delay: 0s;opacity: 0;pointer-events: none;}
.sidebar .nav-links {height: 100%;padding: 25px 0 150px 0;overflow: auto;}
.sidebar.close .nav-links {overflow: visible;}
.sidebar .nav-links::-webkit-scrollbar {display: none;}
.sidebar .nav-links li a img {margin-right: 10px;max-width: 29px;}
.sidebar .nav-links li {position: relative;padding: 10px 5px;list-style: none;transition: all 0.4s ease;}
.sidebar .nav-links li:hover,
.sidebar .nav-links li.active {background: #1d1b31;}
.sidebar .nav-links li .icon-link {display: flex;align-items: center;justify-content: space-between;}
.sidebar.close .nav-links li .icon-link {display: block;}
.sidebar .nav-links li i {height: 50px;min-width: 78px;text-align: center;line-height: 50px;color: #fff;font-size: 20px;cursor: pointer;transition: all 0.3s ease;}
.profile-details a i {font-size: 26px !important;}
.sidebar .nav-links li.showMenu i.arrow {transform: rotate(-180deg);}
.sidebar.close .nav-links i.arrow {display: none;}
.sidebar .nav-links li a {display: flex;align-items: center;text-decoration: none;}
.sidebar .nav-links li a .link_name {font-size: 16px;font-weight: 400;color: #fff;transition: all 0.4s ease;}
.sidebar.close .nav-links li a .link_name {opacity: 0;pointer-events: none;}
.sidebar .nav-links li .sub-menu {padding: 0px 0px 0px 30px;margin-top: 0px;background: transparent;display: none;}
.sidebar .nav-links li.showMenu .sub-menu {display: block;}
.sidebar .nav-links li .sub-menu a {color: #fff;font-size: 15px;padding: 5px 0;white-space: nowrap;opacity: 0.6;transition: all 0.3s ease;}
.sidebar .nav-links li .sub-menu a:hover {opacity: 1;}
.sidebar.close .nav-links li .sub-menu {position: absolute;left: 100%;top: -10px;margin-top: 0;padding: 10px 20px;border-radius: 0 6px 6px 0;opacity: 0;display: block;pointer-events: none;transition: 0s;}
.sidebar.close .nav-links li:hover .sub-menu {top: 0;opacity: 1;pointer-events: auto;transition: all 0.4s ease;}
.sidebar .nav-links li .sub-menu .link_name {display: none;}
.sidebar.close .nav-links li .sub-menu .link_name {font-size: 18px;opacity: 1;display: block;}
.sidebar .nav-links li .sub-menu.blank {opacity: 1;pointer-events: auto;padding: 3px 20px 6px 16px;opacity: 0;pointer-events: none;}
.sidebar .nav-links li:hover .sub-menu.blank {top: 50%;transform: translateY(-50%);}
.sidebar .profile-details {position: fixed;bottom: 0;width: 260px;display: flex;align-items: center;justify-content: start;background: #1d1b31;padding: 12px 0;left: 0;transition: all 0.5s ease;}
.sidebar.close .profile-details {background: none;}
.sidebar.close .profile-details {width: 78px;}
.sidebar .nav-links li:last-child:hover {background: transparent;}
.sidebar .profile-details .profile-content {display: flex;align-items: center;}
.sidebar .profile-details img {height: 42px;width: 42px;object-fit: cover;border-radius: 16px;margin: 0 14px 0 12px;background: #1d1b31;transition: all 0.5s ease;}
.sidebar.close .profile-details img {padding: 10px;}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {color: #fff;font-size: 18px;font-weight: 500;white-space: nowrap;}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {display: none;}
.sidebar .profile-details .job {font-size: 14px;margin: 8px 0 0;}
.home-section {position: relative;padding-bottom: 60px;background: transparent;height: 100%;top: 79px;left: 260px;width: calc(100% - 260px);transition: all 0.5s ease;}
.sidebar.close ~ .home-section {left: 78px;width: calc(100% - 78px);}
.home-section .home-content {height: 60px;display: flex;align-items: center;}
.home-section .home-content .bx-menu,
.home-section .home-content .text {color: #11101d;font-size: 35px;}
.home-section .home-content .bx-menu {margin: 0 15px;cursor: pointer;}
.home-section .home-content .text {font-size: 26px;font-weight: 600;}

@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu {display: none;}
}

.home-section .container{max-width: 100% !important;}
.col.logo {display: flex;align-items: center;justify-content: start;}
.logo-details .bx-menu {margin: 0 15px 0 0;font-size: 30px;color: #11101d;font-weight: 400;}
header {padding: 10px 0;border-bottom: 1px solid #DBDBDB;position: fixed;right: 0;top: 0;z-index: 9;left: 260px;width: calc(100% - 260px);background: #fff;transition: 0.4s;-webkit-transition: 0.4s;}
.sidebar.close + .home-section header {width: calc(100% - 78px);left: 78px;}
.sidebar.close ul.nav-links li {padding-left: 22px;}
.sidebar + .home-section {padding: 0;}
table#exampleTablePending tr th:last-child {width: 100px !important;}
section.tiles-section-wrapper.customtiles {padding-top: 30px;}
section.tiles-section-wrapper.customtiles h2 {margin: 0 0 30px;color: #000;font-size: 30px;font-weight: 500;letter-spacing: normal;line-height: 1.4;}
section.tiles-section-wrapper.customtiles + section.same-section.table-history.pending-table .transition-history-wrapper h2 {display: none;}
section.tiles-section-wrapper.customtiles + section.same-section.table-history.pending-table {padding: 15px 0 0;}

/*=====================================30 jan 2024=========================================*/

.header-flex-parent {display: flex;align-items: center;justify-content: space-between;margin: 10px 0 20px;}
.header-flex-parent .btn {font-size: 18px;min-width: 120px;}
.header-flex-parent h2 {margin: 0;}
.sidebar .nav-links li.show-list i {position: absolute;left: 0;right: -80%;top: 0;bottom: 0;}
.TablePendingDashboard + .dataTables_info {padding: 15px 10px !important;}
li.show-list.active .sub-menu {display: block;}
.sidebar .nav-links li .sub-menu li.active a{color: #fff; opacity: 1;}
li.show-list.active .arrow {transform: rotate(180deg);}



.user-password-wrapper .login-from-parent .from-group .form-check.form-check-inline label.form-check-label {margin: 0;}
.user-password-wrapper .login-from-parent .from-group .form-check.form-check-inline input {position: absolute;top: 33%;transform: translateY(-50%);}
.form-check-input:checked,
.form-check-input:focus {background-color: #4b2e6f;border-color: #4b2e6f; box-shadow: none;}
.user-password-wrapper .login-from-parent {padding: 20px 0; margin: 0; background: transparent;}

.user-password-wrapper .input-box-parent label.error {font-size: 15px !important;}
.login-contact .input-box-parent label.error {bottom: -40px;left: -98px;}

#logout .modal-header button.btn-close {display: none;}

section.tiles-section-wrapper.customtiles.dashboard-tailes-section {margin: 80px 0 0;}


div#exampleModalone1 .login-from-parent label,
div#exampleModalone1 .login-from-parent .input-box-parent input {font-size: 18px;}
div#exampleModalone1 .login-from-parent .login-contact .country-box span {font-size: 18px;}
div#exampleModalone1 .login-from-parent .login-contact .country-box {font-size: 18px;max-width: 80px;}
div#exampleModalone1 .login-from-parent .from-group {margin: 0 0 25px;}
div#exampleModalone1 .login-from-parent .from-group .form-check.form-check-inline input {top: 16%;}
div#exampleModalone1 .login-from-parent .login-contact .country-box img {max-width: 26px;}






.user-password-wrapper .login-from-parent {background: #fff;padding: 50px;border-radius: 50px;margin: 0 30px;max-width: 1100px; box-shadow: 0 0 10px #eee;}
.user-password-wrapper .login-from-parent .input-box-parent.from-group label {font-size: 20px;}
.login-contact .country-box img {max-height: 25px;}
.user-password-wrapper .login-from-parent .input-box-parent input {font-size: 18px;}
.login-contact .country-box span {font-size: 18px;}
.user-password-wrapper .login-from-parent .login-btn {max-width: 100%; margin: 40px 0 0; display: flex; align-items: center; justify-content: end;}
.user-password-wrapper .login-from-parent .login-btn button{font-size: 20px;}
.user-password-wrapper .login-from-parent .login-btn button {min-width: 240px;MAX-WIDTH: 240PX;}
.user-password-wrapper .login-from-parent .login-btn button + button{margin-left: 15px;}
.user-password-wrapper .login-from-parent .login-btn button.btn.btn-secondary {color: #4b2e6f;border-color: #4b2e6f;}
.user-password-wrapper .login-from-parent .login-btn button.btn.btn-secondary:hover{background: #4b2e6f; color: #fff; border-color: transparent;}


.bulk-form-wrapper {background: #fff;padding: 50px;border-radius: 50px;margin: 0 30px;max-width: 1100px;box-shadow: 0 0 10px #eee;}
.bulk-form-wrapper .single-modal-content .download-submitter-btn label {font-size: 22px;font-weight: 500;}
.bulk-form-wrapper .single-modal-content .download-submitter-btn {margin: 0 0 30px;}
.bulk-form-wrapper .login-btn {display: flex;align-items: center;justify-content: end;}
.bulk-form-wrapper .login-btn button{min-width: 220px;MAX-WIDTH: 220PX; font-size: 20px;}
.bulk-form-wrapper .login-btn button + button{margin-left: 15px;} 
.bulk-form-wrapper .login-btn button.btn.btn-secondary {color: #4b2e6f;border-color: #4b2e6f;}
.bulk-form-wrapper .login-btn button.btn.btn-secondary:hover{background: #4b2e6f; color: #fff; border-color: transparent;}
.home-section section.banner-section.password-section {padding-top: 20px;}
.heading-parent.same-heading-wrapper h2 {margin: 0 0 0;color: #000;font-size: 30px;font-weight: 500;letter-spacing: normal;line-height: 1.4;}



.country {position: relative;margin: 0 auto;width: 100%;}
.country .select {position: relative;cursor: pointer;}
.country .select .flagstrap-icon {box-sizing: border-box;display: inline-block;margin-right: 10px;width: 16px;height: 11px;background-image: url("https://zinee91.dothome.co.kr/codepen/flags.png");background-repeat: no-repeat;background-color: #e3e5e7; }   
.country .select:after {content: '';display: block;position: absolute;top: 18px;right: 20px;width: 8px;height: 5px;background: url("https://zinee91.dothome.co.kr/codepen/ico_updown3.png") no-repeat; }
.country .select.open:after {background-position: 0 -5px; }
.country .dropdown {display: none;position: absolute;top: 100%;left: 0;width: 100%;height: 225px;border: 1px solid #191919;border-top: 1px solid #191919;background: #fff;box-shadow: 0 2px 8px rgb(0 0 0 / 15%);overflow-y: scroll;z-index: 1;border-radius: 13px;}
.country .dropdown .flagstrap-icon {box-sizing: border-box;display: inline-block;margin-right: 10px;width: 16px;height: 11px;background-image: url("https://zinee91.dothome.co.kr/codepen/flags.png");background-repeat: no-repeat;background-color: #e3e5e7;}
.country .dropdown li {position: relative;padding: 0 20px;line-height: 34px;font-size: 18px;font-weight: 400;color: #000;cursor: pointer;margin: 5px 0; padding-left: 60px !important;}
.custom-option-field .country .select.form-control {padding-left: 60px !important;}
.country .dropdown li span.country-flag-icon img {max-width: 30px;max-height: 30px;}
span.country-flag-icon {display: flex;align-items: center;justify-content: center;left: 15px;right: inherit;}
div#country span.country-flag-icon img {max-width: 30px;max-height: 30px;}
.country .dropdown li:first-child {margin-top: 12px;}
.country .dropdown li:last-child {margin-bottom: 12px;}
.country .dropdown li:hover {background: #dedede;color: #454545;}
.country .dropdown li.open {display: block;}
.custom-option-field .country ul li span.country-flag-icon {left: 15px;}

.custom-daterangepicker input {border: 1px solid #000;border-radius: 5px;box-shadow: none;}
.custom-daterangepicker input:focus{box-shadow: none; border: 1px solid #000;}

.country .select.form-control.country.country {padding-left: 15px !important;}
.login-contact.form-control .country-box.country {max-width: 30px;}


