.right_action_lo{
    display:none;position:absolute;margin:0px 0 0 4px;z-index: 9999;
}
.error-message{ color: #f00; font-size: 13px}
.require{ color: #f00;}
.success{ background: #5be7c8; border: 1px #00ca6d solid; padding: 3px 10px; width: 100%; display: inline-block; margin-bottom: 10px;
 color: #fff;}

.success-{ background: #5be7c8; border: 1px #dd4b39 solid; padding: 3px 10px; width: 100%; display: inline-block; margin-bottom: 10px;
 color: #dd4b39;}

/*.img_sec{
    width: 69% !important;
}*/

.drt {
    height: 500px;
    overflow: auto;
}
fieldset{
    background: #fff;
}

.company_tab span{display: inline-block;padding: 4px 10px;background: #23272d;color: #d2d2d2;margin-bottom: 3px;cursor: pointer; transition: all 0.1s ease-in-out 0s;}
.company_tab span:hover, .company_tab span.active{background: #d3b35b; color: #fff;}

.admin_st{float: left;width: 100%;font-size: 19px;color: #666;}
.chart_loader{position: absolute; top: 50%; margin-top: -50px; right: 0; bottom: 0; left: 0; text-align: center; z-index: 9;}
.chart_loader img{width:80px;}



aside.main-sidebar,
.skin-blue .main-header .navbar {background: #4B2E74 !important;}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {color: #E13519;background: #fff;border-left-color: #E13519;}
.company_tab span{background: #4B2E74; color: #fff;}
.company_tab span:hover, .company_tab span.active{background: #E13519; color: #fff;}
.skin-blue .sidebar-menu>li>.treeview-menu {background: #000;}
.box.box-info {border-top-color: #4b2e74;}
.btn-info {background-color: #E13519;border-color: #E13519;}
.btn-info:hover, .btn-info:active, .btn-info.hover {background-color: transparent;border-color: #E13519; color: #E13519;}
.table > thead > tr > th a,
a {color: #e13519;}
.btn-primary {background-color: #e13519;border-color: #e13519;}
.btn-primary:hover, .btn-primary:active, .btn-primary.hover {background-color: transparent;border-color: #e13519;color: #fff;}
.payment_info {background: #e13519;}
.form-control:focus {border-color: #e13519;box-shadow: none;}
.mdc-card {background: #e13519;}
.bg-cyan {background-color: #4b2e74 !important;}
.mdc-card.info-card .card-inner .card-icon-wrapper {background-color: #000;box-shadow: 0 0 10px #000;}
.content-header>h1 {color: #e13519;font-weight: bold;}
.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {background-color: #d2d6de !important;}
.bg-blue {background-color: #d2d6de !important;}
.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {background-color: #d2d6de !important;}
.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {background-color: #d2d6de !important;}
.bg-teal {background-color: #d2d6de !important;}
.small-box .icon i {color: rgb(75 46 116);font-size: 60px;}
.small-box h3, .small-box p {color: #000;}
.small-box>.small-box-footer{color: #000;}
.skin-blue .treeview-menu>li.active>a, .skin-blue .treeview-menu>li>a:hover{color: #000;}
.skin-blue .sidebar-menu>li>.treeview-menu {background: #fff;}
.skin-blue .main-header .navbar .sidebar-toggle:hover {background-color: #e13519 !important;}
.btn-primary {background-color: #e13513 !important;border-color: #e13513 !important;}
.alert-success {border-color: #e13513;}


